<p id="notice"><%= notice %></p>

<div class="container col-lg-3">
  <table>
    <tr>
      <td>
          <h2> <%= @user.proper_name %> </h2>
          <%= mail_to(@user.email, @user.email, :encode => "javascript") %>
      </td>
    </tr>

    <tr>
        <td>
          <%= image_tag(@user.picture, size:"150x150") %>
        </td>
        
    </tr>
  </table>
    <b>Rating: <%= show_stars @user %> <br>
  	<h3>Customer Reviews</h3>
  	<% @user.reviews.each do |review| %>
      	  <div>
  			<b><%= User.find_by_id(review.reviewer_id).proper_name %>:</b>
  			<br>  &nbsp &nbsp 	
  			      <%= review_show_stars review %> 
          		<br>&nbsp &nbsp 
          		<%= review.comments %> 
  			<br><br>
      	  </div>
      	<% end %>
</div>
  <table>

    <div id="filterrific_results" class="container col-lg-9" style="padding-left: 12%">
      <br>
      <h1 style="padding-left: 32%">My Items</h1>
    <% @user.items.each do |item| %>
        <div class="col-lg-3 myPanel" style="text-align:center;">
          <div>       
              <%= link_to image_tag(item.picture.url, class:"image-size"), item %>
          </div>
          
          <div style="text-align:left">
              <h5><%= link_to item.name, item_path(item) %></h5>
              <h4><%= number_to_currency(item.price) %></h4>
          </div>
        </div>
    <% end %>
</div>
</table>



<% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>


