<p id="notice"><%= notice %></p>

<h1> <%= @user.name %> </h1>
<table style="padding-left:40px">
  <tr>
    <td>
        <%= image_tag(@user.picture, size:"150x150") %>
    </td>
    <td style="width:50px">
    </td>
    <td style="width:150px">
        <b>First Name:</b><br>
        <b>Last Name:</b><br>
        <b>Email:</b><br>
        <b>Rating:</b><br>
    </td>
    <td>
      <%= @user.first_name %><br>
      <%= @user.last_name %><br> 
      <%= @user.email %><br>
      <%= @user.rating %><br>
    </td>
  </tr>
</table>
<br>



<table>
    <div class="container">
       <ul class="row" >
	<% @user.items.each do |item| %>
    	  <tr>
    	  
    	    <li class="col-xs-4" style="padding-bottom:30pt; padding-left:85pt; list-style-type: none;">
                <%= link_to image_tag(item.picture.url, size:"120x120"), item %>
        		<br>
        		<%= item.name %> 
        		<br>
        		<%= number_to_currency(item.price) %> 
        		
        		<%= button_tag "Buy"%> 
    	    </li>
    	  </tr>
    	<% end %>
       </ul>
    </div>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


