<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.picture.url, size: '150x150' %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Rating:</b>
  <%= @user.rating.zero? ? "No Rating" : @user.rating %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
