<p id="notice"><%= notice %></p>

<h1> <%= @user.name %> </h1>
<table style="padding-left:40px">
  <tr>
    <td>
        <%= image_tag(@user.picture, size:"150x150") %>
    </td>
    <td style="width:50px">
    </td>
    <td style="width:150px">
        <b>First Name:</b><br>
        <b>Last Name:</b><br>
        <b>Email:</b><br>
        <b>Rating:</b><br>
    </td>
    <td>
      <%= @user.first_name %><br>
      <%= @user.last_name %><br> 
      <%= @user.email %><br>
      <%= @user.rating %><br>
      <%= show_stars @user %>

    </td>


  </tr>
</table>
<br>


<br>
	<b style="padding-left:40px">Customer Reviews:</b><br><br>
	<% @user.reviews.each do |review| %>
    	  <div>
			<b><%= User.find_by_id(review.reviewer_id).proper_name %></b>
			<br>   		
			<%= review.rating %>
			<%= review_show_stars review %> 
        		<br>
        		<%= review.comments %> 
			<br><br>
    	  </div>
    	<% end %>


<table>
    <div class="container">
       <ul class="row" >
	<% @user.items.each do |item| %>
    	  <tr>
    	    <li class="col-xs-4" style="margin-left:20px; width: 200px; padding-bottom:30pt; list-style-type: none; text-align:center">

              <div style= "border: 1px solid"> 
                <%= link_to image_tag(item.picture.url, size:"120x120"), item %>
              </div>
        	      <div style= "border: 1px solid; background-color: #B6B6B3">
        		<%= item.name %> 
        		<br>
        		<%= number_to_currency(item.price) %> 
        		
        		<%= button_tag "Buy"%> 
                      </div>
    	    </li>
    	  </tr>
    	<% end %>
       </ul>
    </div>
</table>



<% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>


