<div class="modal-body">  
  <%= simple_form_for @offer, :html => { id: '#myOfferForm' } do |f| %>
    <% if @offer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

        <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.input :item_id, :as => :hidden, :input_html => { :value => @item.id } %>
    </div>
    <div class="field">
      <%= f.input :item_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    </div>
    <div class="field">
      <h4>Current Amount<h4>
      <p><%= number_to_currency(@item.price) %></p>
    </div>
    <div class="field">
      <%= f.label :counter_amount %><br />
      $<%= f.number_field :counter_amount %>
    </div>
    <div class="field">
      <%= f.label :pickup_time %><br />
      <%= f.datetime_select :pickup_time %>
    </div>
    <div class="field">
      <%= f.input :payment_method, :as => :hidden, :label => "Payment Method: ", :collection => Offer::PAYMENT_METHODS, :selected => "0", :required => true %>
    </div>
    <div class="field">
      <%= f.input :active, :as => :hidden, :input_html => { :value => true } %>
    </div>

  </div>
    <div class="modal-footer">
      <div class="actions">
        <div data-dismiss="modal">
        <%= f.submit "Make Offer", :class => 'btn btn-success', :id => 'myOfferSubmit' %>
        </div>
      </div>
    </div>
  <% end %>

