<%= simple_form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => 1 } %>
  </div> 
  <div class="field">
    <%= f.input :location_id, :as => :hidden, :input_html => { :value => 1 }  %>
  </div> 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, :value => "0.00" %>
  </div>
  <div class="field">
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
  </div>
  <div class="field">
    <%= f.input :price_negotiable, :as => :radio_buttons, :checked => (if (@item.price_negotiable == false) then false else true end ) %>
  </div>
  <div class="field">
    <%= f.label :condition %><br />
    <%= f.select :condition, Item::CONDITION %>
  </div>
  <div class="field">
    <%= f.input :sold, :as => :hidden, :input_html => { :value => false } %>
  </div> 
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_area :tag %>
  </div>
  <div class="field">
    <%= f.input :active, :as => :hidden, :input_html => { :value => true } %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
