<table >
    <div class="container">
       <ul class="row" >
    	<% @items.each do |item| %>
    	  <tr>
    	  
    	    <li class="col-xs-4" style="list-style-type: none" >
                <%= link_to image_tag(item.picture.url, :border => 10, size:"100x100"), item %>
    		<br>
    		<%= item.name %> 
    		<br>
    		<%= number_to_currency(item.price) %> 
    		
    		<%= button_tag "Buy"%> 
    	    
    	  </tr>
    	<% end %>
       </ul>
    </div>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
