<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location_id %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Picture:</b>
  <%= @item.picture %>
</p>

<p>
  <b>Price negotiable:</b>
  <%= @item.price_negotiable %>
</p>

<p>
  <b>Condition:</b>
  <%= @item.condition %>
</p>

<p>
  <b>Sold:</b>
  <%= @item.sold %>
</p>

<p>
  <b>Tag:</b>
  <%= @item.tag %>
</p>

<p>
  <b>Active:</b>
  <%= @item.active %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
