<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @availability.location_id %>
</p>

<p>
  <b>Start time:</b>
  <%= @availability.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @availability.end_time %>
</p>


<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
