<!DOCTYPE html>
<html>
<head>
  <title>PocketChange</title>
  <table style="color: #428bca; background-color: #000000; width: 100%;  margin-top: -8px;">
  	<tr>
  		<td>
  			<h1 style="text-indent:10px"><%= link_to "PocketChange", items_path %></h1>
  		</td>
  		<td style="text-align: right">
  			<div>
		      <% if current_user %>
		        Signed in as <strong><%= link_to current_user.proper_name, user_path(current_user) %></strong>!
		        <%= link_to "Log out", logout_path, id: "sign_out" %>
		      <% end %>
		    </div> 	
  		</td>
  	</tr>
  </table>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
	<body>
	    
		<div>
			<%= yield %>
		</div>
			<!-- FOOTER -->
			<footer>
			  <div class="container">
				<%= render :partial => "partials/footer"%>
			  </div>
			</footer>
	</body>
</html>
